name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to Server
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secretAs.DEPLOY_USER }}@${{ secrets.DEPLOY_HOST }} "
          cd ${{ secrets.REMOTE_DIR }} &&
          git pull &&
          docker-compose down &&
          docker-compose up -d --build
          "
